@import "font-awesome";

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#flex-content-container {
    flex: 3;
}

#footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #686868;
    color: white;
    font-family: "Helvetica Neue", Helvetica;
    padding: 10px 0px;
    margin-top: 30px;
    font-weight: 100;
}

#footer a {
    color: white;
    font-weight: 100;
}

#footer b {
    color: white;
    font-weight: 700;
}

.social-button {
    margin: 4px;
}

#footer .col-sm {
    padding-left: 20%;
}

.social a:hover {
    text-decoration: none;
}